<!DOCTYPE html>
<html>

<head>
    <title>Thông tin ví</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <h1>Thông tin ví</h1>
    <p><strong>Địa chỉ:</strong> {{address}}</p>
    <p><strong>Số dư nativeBalance: </strong> {{nativeBalance}} ETH</p>
    <p><strong>Số dư contractBalance:</strong> {{contractBalance}} ETH</p>
    <p><a href="/">Quay lại trang chủ</a></p>
</body>

</html>